<h1>All about this song!</h1>

<p><strong>Title:</strong> <%= @song.title %> </p>
<p><strong>Artist:</strong> <%= @song.artist.name %> </p>


<!-- Add link to artist page here -->

<!-- Add link back to index page here -->
